@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #009579;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px hsl(0, 0%, 7%);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.btn {
    background-color: #009579;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.switch-form {
    margin-top: 15px;
    font-size: 14px;
}

.switch-form a {
    color: #009579;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .signup-section {
        padding: 15px;
    }

    .h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
    }
}